@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 150px;
  font-size: 60px;
  color: #007BFF;
}

.button {
  font-family: 'NanumSquareNeo-Variable', sans-serif;
  font-size: 36px;
  font-weight: bold;
  width: 250px;
  height: 350px;
  margin: 10px;
  text-align: center;
  color: #000000;
  border-style: none;
  background-color: white;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button:hover {
  transform: translateY(-10px);
}

.button-image {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}
.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
