.apple-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.apple {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 5px;
}


